header{
  width: 100vw;
  height: 8vh;
  background-color: black;
}

nav{
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
nav a{
  color: white;
  padding-top: 1rem;
  padding-right: 1rem;
  text-decoration: none;
}
.popup ul{
  padding: 0;
  margin: 0;
}
.popup li {
  color: rgb(0, 0, 0);
  text-decoration: none;
  list-style: none;
  font-size: larger;
}
.popup{
  position: absolute;
  top:7vh;
  right: 1rem;
  margin-top: 0.5rem; 
  padding: 1rem;
  display: flex;  
  justify-content: flex-start;
  height: 2rem;
  width: 3rem;
  border: 0.08rem solid black;
  background-color: rgb(232, 232, 235);
  border-radius: 0.5rem;
}